* {
    margin: 0px;
    text-align: center;
}

body {
   background-color: rgba(16, 238, 238, 0.212);
 
}

h1 {
    background-color: darkkhaki;
    color: crimson;
    font-size: xx-large;
    text-align: center;
}

/* #boll {
    width: 80px;
    padding: 10px;
    border: none;
    background-color: rgb(56, 56, 172);
    color: black;
    font-size: x-large;
    border-radius: 10px;
    box-shadow: 5px 10px 5px purple;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    /* margin-right: 10px; */
/* } */ */

/* #reset{
    width: 80px;
    padding: 10px;
    border: none;
    background-color: rgb(56, 56, 172);
    color: black;
    font-size: x-large;
    border-radius: 10px;
    box-shadow: 5px 10px 5px purple;
    cursor: pointer;
    margin: 10px; */
    /* margin-right: 10px; */

/* #bat {
    width: 80px;
    padding: 10px;
    border: none;
    background-color: red;
    color: black;
    font-size: x-large;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgb(248, 248, 3);
    cursor: pointer;
    margin: 10px;
    text-align: center; */
/* } */

.stampbtn {
    width: 80px;
    padding: 10px;
    border: none;
    background-color: chartreuse;
    color: black;
    font-size: x-large;
    border-radius: 10px;
    box-shadow: 5px 10px 5px blue;
    cursor: pointer;
    margin: 10px;
    text-align: center;

}

/* inner html css */
#innerbox{
    text-align: center;
    margin: 20px;
    font-size: xx-large;
    background-color: black;
    color: red;
    text-transform: uppercase;
}
#msg{
    text-align: center;
    margin: 20px;
    font-size: xx-large;
    background-color: black;
    color: yellow;
    text-transform: uppercase;
}
#msg:hover{
    color: green;
}
#score{
    text-align: center;
    margin: 20px;
    font-size: xx-large;
    background-color: black;
    color: green;
    text-transform: uppercase;
}

#score:hover{
    color: yellow;
}
.img-sige{
    
    height: 130px;
}


button{
    height: 145px;
    width: 145px;
    border: none;
    background-color: rgb(56, 156, 56);
    border-radius: 50%;
    margin-top: 10px;
}

